
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessView</title>
</head>
<body>
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <br/><br/>
                <div class="error-template">
                    <h1 class="label label-warning" style="font-size:35px;">
                        Payment process is failed!
                    </h1><br/><br/>
                    <div class="error-actions>
                        <a href=" class="btn btn-primary btn-lg" accesskey=""
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
